# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly

# Prisma
OWNER_FIRST_NAME=
OWNER_LAST_NAME=
OWNER_HOMEPAGE= # URL should be in double quotes
GITHUB_URL= # URL should be in double quotes